@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    display: flex;
    align-items: start;
    justify-content: center;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: Urbanist;
}

.createGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #497396;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 20px #497396;
    background: linear-gradient(270deg, #52bde72a, #2a475e00, #2a475e00);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 10s ease infinite;
}

.labelsInputs {
    display: flex;
    flex-direction: row;
}

label {
    font-family: Urbanist;
    color: white;
    margin-right: 10px;
    margin-top: 3px;
}

.labels {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
}

input {
    background-color: transparent;
    border: 1px solid #497396;
    border-radius: 10px;
    color: white;
    padding-left: 10px;
    margin-top: 3px;
}

.genres {
    background-color: transparent;
    color: white;
    font-family: Urbanist;
    font-size: 16px;
    width: 200px;
    text-align: center; 
    box-shadow: 0px 0px 10px #497396;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

h4 {
    color: white;
}

h3 {
    margin-top: 30px;
}

.createGameBtn {
    width: 110px;
    height: 30px;
    margin-top: 20px;
    font-family: Urbanist;
    font-weight: 600;
}

.createGameBtn:hover {
    background-color: rgb(61, 169, 219);
    cursor: pointer;
    transition-duration: 200ms;
    box-shadow: 0px 0px 10px #497396;
}

.deleteGame {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #497396;
    padding: 10px 20px 20px 20px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 20px #497396;
    background: linear-gradient(270deg, #52bde72a, #2a475e00, #2a475e00);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 10s ease infinite;
}

.deleteGameBtn {
    width: 110px;
    height: 30px;
    font-family: Urbanist;
    font-weight: 600;
    margin-top: 20px;
}

.deleteGameBtn:hover {
    background-color: rgb(61, 169, 219);
    cursor: pointer;
    transition-duration: 200ms;
    box-shadow: 0px 0px 10px #497396;
}

.selectGame {
    margin-top: 20px;
    width: 310px;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

  .manual {
    color: white;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 30px;
  }